@import 'common/base';

@import 'elements/icons';

body {
  background-color: lighten($manatee, 25%);

  @include breakpoint(md) {
    background-color: $manatee
  }
}

section {
  width: calc(100% - 2em);
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @include breakpoint(sm) {
    width: calc(70% - 2em);
  }

  @include breakpoint(md) {
    width: calc(100% - 2em);
    padding: 1em;

    background-color: $alice-blue;
    border-radius: 0.25em;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  }
}

section#card {
  padding: 2em;
  width: calc(100% - 6em);

  img {
    display: block;
    width: 50%;
    border: 0.5em solid $space-cadet;
    border-radius: 50%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  }

  h1 {
    font-size: 2em;
    text-align: center;
    color: $space-cadet;
  }

  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 2em;

    a {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-content: center;
      align-items: center;
      color: $space-cadet;

      &:not(:first-child) {
        margin-left: 1em;
      }

      i[role='icon'] {
        background-color: $space-cadet;
      }
    }
  }

  @include breakpoint(sm) {
    width: calc(70% - 4em);
  }

  @include breakpoint(md) {
    width: calc(100% - 4em);

    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 2fr 5fr;
    grid-template-areas:
      "image name"
      "image links";

    img {
      grid-area: image;
      width: calc(100% - 2em);
    }

    h1 {
      grid-area: name;
      margin: 0.5em;
    }

    nav {
      grid-area: links;
      margin-top: 0.5em;
    }
  }
}

article > section {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-top: 4em;
  position: relative;

  > * {
    width: 100%;
    color: $space-cadet;
  }

  h2 {
    margin: 0;
    padding: 0;
    size: 2em;
    line-height: 2em;
    font-size: 2em;
    position: absolute;
    top: -2em;
  }

  img {
    width: 80%;
    margin: 1em auto;
    border-radius: 0.25em;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

    &.left {
      margin: 0;
      padding: 0;
      float: left;
      width: 30%;

      & + p {
        width: calc(70% - 1em);
        margin-left: 1em;
        margin-top: -0.5em;

        @include breakpoint(md) {
          margin-top: 0.5em;
        }
      }
    }
  }

  p {
    margin: 0;
    text-align: justify;

    &:nth-child(n+3) {
      margin-top: 0.5em;
    }
  }
}
