* {
  color: $space-cadet;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", Helvetica, Arial, sans-serif;
}

a {
  color: $imperial-red;
}

body {
  background-color: $manatee;
}

header {
  background-color: $space-cadet;
}
